@import url("variaveis.css");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0%;
  margin: 0%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.nav-bar {
  position: fixed;
  background-color: var(--blue-baby);
  width: 90%;
  height: 11%;
  border-radius: 20px;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nav-bar nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  padding: 20px;
}

.nav-bar nav .nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-bar nav .nav-middle a {
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
}

.nav-bar nav .btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;

  background-color: var(--white);
  padding: 7px;
  border-radius: 10px;
  width: 60%;
}

.nav-bar nav .btn-nav a {
  font-size: 16px;
  text-decoration: none;
  color: var(--gray-text);
}

@media (min-width: 1440px) {
  .nav-bar nav .nav-middle a {
    font-size: 22px;
  }

  .nav-bar nav .btn-nav a {
    font-size: 18px;
  }

  .nav-bar nav {
    padding: 25px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .nav-bar nav .nav-middle a {
    font-size: 18px;
    gap: 15px;
  }

  .nav-bar nav .btn-nav a {
    font-size: 15px;
  }

  .nav-bar nav {
    padding: 18px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .nav-bar nav .nav-middle a {
    font-size: 16px;
    gap: 10px;
  }

  .nav-bar nav .btn-nav a {
    font-size: 14px;
  }

  .nav-bar nav {
    padding: 15px;
  }
}

/* ===== NAVBAR MOBILE ===== */

@media (max-width: 900px) {
  .nav-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    z-index: 1001;
  }

  .hamburger span {
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
  }

  .nav-middle {
    display: flex;
    gap: 25px;
  }
  .hamburger {
    display: flex;
  }
  .nav-middle {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(12px);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    gap: 30px;
    transition: 0.4s ease-in-out;
    z-index: 1000;
  }

  .nav-middle a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
  }

  .nav-middle a:hover {
    transform: translateX(6px);
    color: #00d4ff;
  }

  .nav-middle.active {
    right: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .nav-bar nav .btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

    background-color: var(--white);
    padding: 7px;
    border-radius: 10px;
    width: 30%;
  }

  .nav-bar nav .btn-nav a {
    font-size: 16px;
    text-decoration: none;
    color: var(--gray-text);
  }
}
