#home {
  background: linear-gradient(110deg, #ffffff 55%, #242424 45%);
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  z-index: 2;
}

.home-title {
  color: var(--gray-text);
}

.home-title h1 {
  color: var(--gray-text);
  font-size: 45px;
}

#nomeTroca {
  font-size: 40px;
  color: var(--blue-baby);
}

.home-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.home-btn a {
  border-radius: 10px;
  border: 2px solid var(--blue-baby);
  padding: 7px 10px;
  width: 120px;

  text-decoration: none;
  color: var(--gray-text);
  font-size: 18px;

  display: inline-block;
  transition: transform 0.7s ease;
}

.home-btn a:hover {
  background-color: var(--blue-baby);
  transform: scale(1.07);
  color: var(--white);
}

.home-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--blue-baby);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

.home-links a:hover {
  transform: scale(1.15);
}

.home-links a {
  text-decoration: none;
}

.home-links i {
  font-size: 25px;
  color: var(--gray-text);
}

@media (min-width: 1440px) {
  .home-title h1 {
    font-size: 55px;
  }

  #nomeTroca {
    font-size: 48px;
  }

  .home-btn a {
    font-size: 20px;
    padding: 10px 14px;
    width: 140px;
  }

  .home-links i {
    font-size: 28px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .home-title h1 {
    font-size: 42px;
  }

  #nomeTroca {
    font-size: 36px;
  }

  .home-btn a {
    font-size: 17px;
    width: 115px;
  }

  .home-links i {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 95%;
    padding: 40px 0;
  }

  .home-title h1 {
    font-size: 32px;
  }

  #nomeTroca {
    font-size: 28px;
  }

  .home-btn a {
    width: 100px;
    font-size: 16px;
    padding: 6px 8px;
  }

  .home-links {
    gap: 12px;
  }

  .home-links a {
    width: 35px;
    height: 35px;
  }

  .home-links i {
    font-size: 18px;
  }
}
