:root {
  --blue-baby: #4a90e2;
  --white: #ffffff;
  --gray-text: #505050;
  --black: #000000;
  --black-btn: #242424;
  --gray-footer: #cdcdcd;
  --blue-text: #124581;
  --box-snow: #d9d9d9;
}
